<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  </unity>
  <container>
    <string-array name="buildingTypes">
      <item>Farm</item>
      <item>Barrack</item>
      <item>BowWorkshop</item>
      <item>Tower</item>
    </string-array>
    <string-array name="unitTypes">
      <item>Peasant</item>
      <item>Clubman</item>
      <item>Archer</item>
      
    </string-array>
  </container>
</configuration>